modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 19955
externalPort = 3000

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BI-LgfRO0AAzTlyK9T93ZOF38ScMcpQ8EN3JsaGNFLjc38RfXIEJ8ZsoJENFa0EoC_ZVEvFKEllYDKw5sabjfwQ"
VAPID_PRIVATE_KEY = "2j33lqEM-k-LG6rZ7-riOYsBGX0XbUl52RUVt37nIFs"
VAPID_SUBJECT = "mailto:admin@ewater.io"
